@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root{
    --black: #000;
    --decor-green: #19C1B6;
    --white: #fff;
    --decor-text: #1DC1B6;
    --button-main: #FEA439;
}


a{
    text-decoration: none;
    color: #333333;
}

a:hover{
    color: #666666;
}

img{
    width: 100%;
}

*{
    padding: 0;
    margin: 0;
    outline: none;
}

body{
    font-family: "Fredoka", sans-serif;
}


/* Header */

.decor-line{
    width: 100%;
    height: 60px;
    background-color: var(--decor-green);
}


header{
    padding: 23px 0;
    background-color: var(--white);
}

.container{
    max-width: 1120px;
    margin: 0 auto;
}

.header__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.header__logo img{
    max-width: 200px;
}

.header__menu ul{
    display: flex;
    gap: 18px;
    list-style-type: none;
}

.header__contact a{
    display: inline-block;
    padding: 18px 40px;
    background: #FEF8EC;
    border-radius: 80px;
}

/* Header */

/* Hero */

.hero{
    width: 100%;
    height: 700px;
    background: linear-gradient(-120deg, rgba(237,254,252,1) 0%, rgba(254,246,236,1) 100%);
    padding-top: 60px;
}


.hero__wave{
    background-image: url(../images/wave-hero.svg);
    background-repeat: repeat;  
    width: 100%;
    height: auto;
    min-height: 22px;
}

.hero__container{
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__text__title{
    color: var(--decor-text);
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero__text__main{
    color: var(--black);
    font-size: 65px;
    max-width: 600px;
    width: 100%;
    font-weight: bold;
    margin-bottom: 30px;
}

.hero__text__subtitle{
    text-decoration: underline;
    margin-bottom: 30px;
}

.hero__text__subtitle span{
    font-weight: 500;
}

.hero__text__button_styling{
    padding: 25px 50px;
    background-color: var(--button-main);
    border-radius: 85px;
    display: inline-block;
    color: var(--white);
}

.hero__image{
    max-width: 450px;
    position: relative;
}
/* 
.hero__image::before{
    content: "";
    width: 650px;
    height: 100%;
    position: absolute;
    background: url("../images/decor-hero-section.svg")
} */

/* Hero */


/* About Section */

.about{
    width: 100%;
    padding: 60px 0;
    background: #fff;
}

.section__header{
    text-align: center;
}


.section__title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

.section__subtitle{
    font-size: 21px;
    max-width: 600px;
    margin: 0 auto 20px auto;
    font-weight: 100;
}

.about__image img{
    max-width: 500px;
}

.about__body{
    display: flex;
    justify-content: space-between;
}

.about__info{
    max-width: 670px;
    width: 100%;
}

.info__name{
    text-align: center;
    max-width: 414px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 25px 70px;
    background: linear-gradient(90deg, rgba(237,254,252,1) 0%, rgba(254,246,236,1) 100%);
}

.info__main__name{
    color: #000;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 11px;
}

.info__category{
    color: #000;
    font-weight: 200;
}

.info__slogan{
    margin-top: 30px;
    max-width: 500px;
    width: 100%;
    line-height: 160%;
    font-size: 18px;
    font-weight: 200;
}

.info__counter{
    padding: 25px 70px;
    background: #50D6CD;
    max-width: 430px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 30px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.counter__exp, .counter__students{
    text-align: center;
}

.exp__count, .students__count{
    font-weight: 700;
    font-size: 30px;
}

.exp__title, .student__title{
    font-size: 18px;
    max-width: 133px;
    width: 100%;
}

.info__list{
    margin-top: 30px;
}

.info__list ul{
    list-style-type: none;
}

.info__list ul li{
    margin-top: 11px;
    display: flex;
    align-items: center;
}

.info__list img{
    max-width: 30px;
    padding-right: 20px;
}

/* About Section */