@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root{
    --black: #000;
    --decor-green: #19C1B6;
    --white: #fff;
    --decor-text: #1DC1B6;
    --button-main: #FEA439;
}

a{
    text-decoration: none;
    color: #333333;
}

a:hover{
    color: #666666;
}

img{
    width: 100%;
}

*{
    padding: 0;
    margin: 0;
    outline: none;
}

body{
    font-family: "Fredoka", sans-serif;
}


/* Header */

.decor-line{
    width: 100%;
    height: 60px;
    background-color: var(--decor-green);
}


header{
    padding: 23px 0;
    background-color: var(--white);
}

.container{
    max-width: 1120px;
    margin: 0 auto;
}

.header__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.header__logo img{
    max-width: 200px;
}

.header__menu ul{
    display: flex;
    gap: 18px;
    list-style-type: none;
}

.header__contact a{
    display: inline-block;
    padding: 18px 40px;
    background: #FEF8EC;
    border-radius: 80px;
}

/* Header */

/* Hero */

.hero{
    width: 100%;
    height: auto;
    min-height: 800px;
    background: linear-gradient(-120deg, rgba(237,254,252,1) 0%, rgba(254,246,236,1) 100%);
    padding-top: 60px;
}


.hero__wave{
    background-image: url(../images/wave-hero.svg);
    background-repeat: repeat;  
    width: 100%;
    height: auto;
    min-height: 22px;
}

.hero__container{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.hero__text__title{
    color: var(--decor-text);
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero__text__main{
    color: var(--black);
    font-size: 65px;
    max-width: 600px;
    width: 100%;
    font-weight: bold;
    margin-bottom: 30px;
}

.hero__text__subtitle{
    text-decoration: underline;
    margin-bottom: 30px;
}

.hero__text__subtitle span{
    font-weight: 500;
}

.hero__text__button_styling{
    padding: 25px 50px;
    background-color: var(--button-main);
    border-radius: 85px;
    display: inline-block;
    color: var(--white);
}

/* Hero */