@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root{
    --black: #000;
    --decor-green: #19C1B6;
    --white: #fff;
    --decor-text: #1DC1B6;
    --button-main: #FEA439;
}

.reverse{
    flex-direction: row-reverse;
}

a{
    text-decoration: none !important;
    color: #333333 !important;
}

a:hover{
    color: #666666;
}

img{
    width: 100%;
}

*{
    padding: 0;
    margin: 0;
    outline: none;
}

body{
    font-family: "Fredoka", sans-serif;
}


/* Header */

.decor-line{
    width: 100%;
    height: 60px;
    background-color: var(--decor-green);
}


header{
    padding: 23px 0;
    background-color: var(--white);
}

.container{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 !important;
}

.header__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.header__logo img{
    max-width: 200px;
}

.header__menu ul{
    display: flex;
    gap: 18px;
    list-style-type: none;
}

.header__contact a{
    display: inline-block;
    padding: 18px 40px;
    background: #FEF8EC;
    border-radius: 80px;
}

/* Header */

/* Hero */

.hero{
    width: 100%;
    height: 700px;
    background: linear-gradient(-120deg, rgba(237,254,252,1) 0%, rgba(254,246,236,1) 100%);
    padding-top: 60px;
}


.hero__wave{
    background-image: url(../images/wave-hero.svg);
    background-repeat: repeat;  
    width: 100%;
    height: auto;
    min-height: 22px;
}

.hero__container{
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__text__title{
    color: var(--decor-text);
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero__text__main{
    color: var(--black);
    font-size: 65px;
    max-width: 600px;
    width: 100%;
    font-weight: bold;
    margin-bottom: 30px;
}

.hero__text__subtitle{
    text-decoration: underline;
    margin-bottom: 30px;
}

.hero__text__subtitle span{
    font-weight: 500;
}

.hero__text__button_styling{
    padding: 25px 50px;
    background-color: var(--button-main);
    border-radius: 85px;
    display: inline-block;
    color: var(--white);
}

.hero__image{
    max-width: 450px;
    position: relative;
}
/* 
.hero__image::before{
    content: "";
    width: 650px;
    height: 100%;
    position: absolute;
    background: url("../images/decor-hero-section.svg")
} */

/* Hero */


/* About Section */

.about{
    width: 100%;
    padding: 60px 0;
    background: #fff;

    overflow: hidden;
}

.section__header{
    text-align: center;
}


.section__title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

.section__subtitle{
    font-size: 21px;
    max-width: 600px;
    margin: 0 auto 20px auto;
    font-weight: 100;
}

.about__image img{
    max-width: 500px;
}

.about__body{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 30px;
}

/* .about__info{
    max-width: 670px;
    width: 100%;
} */

.info__name{
    text-align: center;
    max-width: 414px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 25px 70px;
    background: linear-gradient(90deg, rgba(237,254,252,1) 0%, rgba(254,246,236,1) 100%);
}

.info__main__name{
    color: #000;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 11px;
}

.info__category{
    color: #000;
    font-weight: 200;
}

.info__slogan{
    margin-top: 30px;
    max-width: 500px;
    width: 100%;
    line-height: 160%;
    font-size: 18px;
    font-weight: 200;
}

.info__counter{
    padding: 25px 70px;
    background: #50D6CD;
    max-width: 430px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 30px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.counter__exp, .counter__students{
    text-align: center;
}

.exp__count, .students__count{
    font-weight: 700;
    font-size: 30px;
}

.exp__title, .student__title{
    font-size: 18px;
    max-width: 133px;
    width: 100%;
}

.info__list{
    margin-top: 30px;
}

.info__list ul{
    list-style-type: none;
}

.info__list ul li{
    margin-top: 11px;
    display: flex;
    align-items: center;
}

.info__list img{
    max-width: 30px;
    padding-right: 20px;
}

/* About Section */


/* Way Section */

.way{
    width: 100%;
    min-height: 700px;
    background: linear-gradient(-120deg, rgba(237,254,252,1) 0%, rgba(254,246,236,1) 100%);
    padding: 60px 0;
}


/* Accordion styles */

.accordion-button{
    background: #FEA439 !important;
    color: #fff !important;
    font-weight: bold;
    justify-content: center !important;
    align-items: center !important;
}

.accordion-button:not(.collapsed)::after{
    color: #fff;
}

.accordion{
    max-width: 700px;
    margin: 30px auto;
}

.accordion-button:not(.collapsed)::after{
    color: red;
}

/* Accordion styles */

/* Way Section */


/* Program Section  */

.program{
    width: 100%;
    padding: 60px 0;
    background: #fff;
}

.program__item{
    max-width: 420px;
    width: 100%;
}
.program__image{
    margin-bottom: 30px;
}

.program__title{
    font-size: 30px;
    color: #000;
    font-weight: bold;
}

.program__description{
    font-size: 21px;
    margin-bottom: 60px;
    height: 100px;
}

.program__data{
    width: 100%;
    border-radius: 30px;
    background: #19C1B6;
    color: white;
    padding: 0 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data__item{
    max-width: 122px;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.data__item__title{
    font-size: 28px;
    font-weight: bold;
}
.program__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}


/* Program Section */


/* Join Section */

.join{
    width: 100%;
    padding: 60px 0;
    text-align: center;
    background: linear-gradient(rgba(44, 196, 185, .7), rgba(44, 196, 185, .7)), url("../images/join-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.section__title_white{
    color: #fff;
    margin-bottom: 30px;
}

.join__description{
    max-width: 940px;
    width: 100%;
    margin: 0 auto 30px auto;
}

/* Joing Section */

/* Education Section */

.education{
    width: 100%;
    background: #fff;
    padding: 60px 0;
}

.carousel-item{
    text-align: center;
}
.carousel-item img{
    max-width: 350px;
}

.carousel-indicators button{
    background: #EEEEEE !important;
}

.carousel-indicators .active{
    background: #000 !important;
}

.centered{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Education Section */


/* Prefooter Section */


.prefooter{
    background: linear-gradient(rgba(44, 196, 185, .7), rgba(44, 196, 185, .7)), url("../images/prefooter__bg.png");
    background-size: cover;
    background-position: top left;
}

.container__prefooter{
    display: flex;
}

.prefooter__image{
   position: relative;
}

.prefooter__image img{
    height: 100%;
}

.prefooter__image::before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(150, 150, 150, .3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.prefooter__block{
    padding: 80px 110px;
}

.prefooter__title{
    font-size: 43px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 65px;
}

.prefooter__description{
    font-size: 21px;
    max-width: 641px;
    width: 100%;
    color: #fff;
    margin-bottom: 50px;
}

.prefooter__icon img{
    max-width: 130px;
}


.prefooter__link a{
    color: #fff !important;
    text-decoration: none !important;
    font-size: 21px;
}
.prefooter__social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.prefooter__description_gap{
    margin-top: 50px;
}

/* Prefooter Section */


/* Footer Section */

footer{
    width: 100%;
    padding: 60px 0;
    background: #fff;
}

.footer__container{
    display: flex;  
    justify-content: space-between;
    align-items: center;
}

.footer__logo__description{
    font-size: 20px;
    color: #000;
    max-width: 380px;
    width: 100%;
    font-weight: 300;
    margin-top: 30px;
}

ul{
    list-style-type: none;
    margin: 0 !important;
}

.footer__menu ul li:first-child{
    margin-top: 0;
}
.footer__menu ul li{
    margin-top: 15px;
}   

.footer__menu ul li a{
    color: #666666;
    text-decoration: none;
}

.footer__menu ul li a:hover{
    color: var(--button-main);
}

.footer__address img{
    max-width: 20px;
}

.footer__address ul li{
    margin-top: 15px;
    font-size: 20px;
    color: #666666;
}

.footer__wave{
    background-image: url(../images/wave-hero.svg);
    background-repeat: repeat;  
    width: 100%;
    height: auto;
    min-height: 22px;
    margin-top: 50px;
}

/* Footer Section */

